@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: #232D3F;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading {
    display: none;
    width: 100%;
    height: 3rem;
    background-color:#8e44ad;
}

.loading-bar {
    height: 100%;
    width: 0;
    background-color: #3498db;
    animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.container .card {
    width: 400px;
    /* height: 30vw; */
    background: linear-gradient(135deg, #3498db, #8e44ad);
    /* background: linear-gradient(135deg, #ff6b6b, #ffd166); Sunrise Gradient */
    box-shadow: 10px 10px 10px black;
    border-radius: 25px;
    text-align: center;
    padding: 0.8rem;
    /* width:fit-content; */
    padding: 1rem;
}

.container .card .input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.container .card .input-field .input-city{
    height: 4vh;
    width: 80%;
    border-radius: 25px;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
}

.container .card .input-field .search{
    height:4vh;
    width: 10%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff; /* White button background color */
    color: #3498db; 
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease; 
    border: none;
    align-items: center;
    margin-left: 0.5rem;
}

.container .card .input-field .search:hover {
    background-color: #f2f2f2;
}

.container .card .input-field .search:active {
    transform: scale(0.8); /* Scale the button down slightly */
}

.container .card .display img{
    position: relative;
    width: 150px;
}

.container .card .display h1{
    font-size: 3em;
    font-weight: 500;
    line-height: 3.5rem;
}

.container .card .display h2{
    font-size: 3.2rem;
    
}

.container .card .display h3{
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
}

.container .card .details{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10%;
}

.container .card .details .col img{
    height: 50px;
}

.container .card .details .col p{
    font-size: 1.2rem;
}

.container .weather{
    display: none;
}



@media (max-width: 500px) {
    .container .card {
        width: 300px;
    }   

    .container .card .display img{
        width: 120px;
    }
    
    .container .card .display h1{
        font-size: 2em;
    }
    
    .container .card .display h2{
        font-size: 2.5rem;
        
    }
    
    .container .card .display h3{
        font-size: 1.4rem;
    }

    .container .card .details .col img{
        height: 40px;
    }
    
    .container .card .details .col p{
        font-size: 1rem;
    }
    
}